*,
*::after,
*::before {
  padding: 0px;
  margin: 0px;
  font-family: inherit;
}

body {
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
}
body,

html {
  height: 100vh;
  font-family: sans-serif;
}
button {
  cursor: pointer;
  border: 0px;
}
input[type="text"] {
  background-color: transparent;
  text-align: end;
  width: 100%;
  color: #ffffff;
  border: 0px;
  font-size: 4rem;
}

.titulo{

  width: 100px;
  width: 280px;
  background-color: rgb(253, 253, 253);

}

#main {
  border: 2px solid #000000;

  width: 100%;
  max-width: 280px;
  background-color: #727272;
  padding: 2rem 1rem;
}
.calc_header {
  margin-top: 90px;
  padding: 12px;
  background-color: rgb(0, 0, 0);
  margin: 3px;
}

.calc_footer > * + * {
  margin-top: 1rem;
}
.calc_footer > *:last-child {
  gap: 1rem;
}
.btn_group {
  display: flex;
   justify-content: space-between;
  align-items: center;
  gap: 0.3rem;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  color: #ffffff;
  font-size: 20px;
  transition: all 0.3s cubic-bezier(0.19, 1, 0.22, 1);
}
.btn.btn-grow {

  width: 60px;
  height: 60px;
}
.btn:hover {
  transform: translate(-2px, -3px);
}
.btn.active {
  background-color: #0c64e0;
  color: #ffffff;
}

.btn-grey {
  background-color: #0c64e0;
  color: rgb(255, 255, 255);
}

.btn-dark-grey {
  background-color: #0c64e0;
}

.btn-orange {
  background-color: #0c64e0;
}
.btn-orange:hover {
  background-color: #0c64e0;
}


.btn-grey:hover {
    background-color: #049ba3;
}
  
.btn-dark-grey:hover {
    background-color: #049ba3;
}